.contact-separator {
  background-color: rgb(41, 171, 226);
  height: 60px;
  width: 3px;
  margin: 0 18px;
}

.container {
  margin: 0 !important;
  padding: 0 !important;
}

.list-of-contacts {
  width: 456px;
  height: 100vh;
  background-color: white;
  margin: 0;
  padding: 20px;
  overflow-y: scroll;
  overflow-x: hidden;
  z-index: 1;
  padding-bottom: 150px;
}

/* Scrollbar-Styling für Webkit-Browser */
#list-of-contacts::-webkit-scrollbar {
  width: 12px; /* Breite der Scrollbar */
}

#list-of-contacts::-webkit-scrollbar-thumb {
  background-color: #d1d1d1; /* Farbe der Scrollbalken */
  border-radius: 10px; /* Abgerundete Ecken */
}

#list-of-contacts::-webkit-scrollbar-thumb:hover {
  background-color: #2a3647; /* Etwas dunkler beim Hover */
}

#list-of-contacts::-webkit-scrollbar-track {
  background-color: rgb(246, 247, 248); /* Hintergrund der Schiene */
}

#list-of-contacts::-webkit-scrollbar-button {
  display: none; /* Entferne die Pfeile */
}

.center-contacts > a:hover {
  cursor: pointer;
}

.add-contact {
  color: white;
  font-size: 24px;
  font-weight: bold;
  padding: 16px;
  border-radius: 12px;
}

.add-contact:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 255, 0.5);
}

.more-button-div {
  justify-content: flex-end;
  
  &:hover {
    cursor: pointer;
  }
}

.input-field_contacts {
  padding: 12px 55px;
  border-radius: 12px;
}

.big-content {
  z-index: 10;
  transition: all 0.2s ease-in-out;
  overflow-y:  scroll;
  margin-left: 24px;

  &::-webkit-scrollbar{
    display: none;
  }

  & [data-contact-name]{
    font-size: 34px;
  }
}

.title-of-contacts {
  align-items: center;
}

#prime_title {
  font-size: 61px;
  font-weight: 700;
}

#second_title {
  font-size: 27px;
  font-weight: 400;
}

/* OVERLAY */

.add-contact-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1200px;
  max-width: 1200px;
  min-height: 500px;
  border-radius: 32px;
  color: white;
  background: linear-gradient(to right, #2a3647 50%, #ffffff 50%);
  overflow: hidden;
  padding-left: 32px;
  z-index: 150;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

  & > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .logo {
    width: 50px;
  }

  .form-ctn {
    background-color: var(--color-white);
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 48px;
    width: 65%;
    height: 500px;

    .contact-overlay-buttons {
      display: flex;
      column-gap: 24px;
      align-items: center;

      button {
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 12px;

        img {
          width: 15px;
        }
      }
    }

    input {
      width: 100%;

      & + img {
        width: 16px;
      }
    }
  }

  h2 {
    font-weight: 500;
  }
}

.add-contact-separator {
  width: 88px;
  background-color: var(--color-light-blue);
  height: 3px;
}

.add-contact-img-div {
  background-color: var(--color-grey);
  padding: 24px;
  border-radius: 50%;
  border: 1px solid var(--color-white);
  box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.05);
}

.hide-contact-menu:hover {
  cursor: pointer;
}

.overlay_cancelbutton_mobile {
  cursor: pointer;
  position: absolute;
  height: 40px;
  width: 40px;
  top: 30px;
  right: 30px;
  font-size: 24px;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;

  &:hover {
    background-color: rgba(0, 0, 0, 0.05);
  }

  img {
    width: 16px;
  }
}

#more-information {
  max-width: 500px;

  .contact-email-info{
    margin-top: 40px;
  }

  .big-letter-ctn{
    padding: 85px 25px;
  }
}

.contacts-div {
  width: 352px;
  height: 78px;
  padding: 15px 24px 15px 24px;
  gap: 8px;
  border-radius: 10px;
  opacity: 0px;
  margin-top: 12px;
  user-select: none;

  &:hover {
    background-color: rgb(209, 209, 209, 0.3);
  }
}

.contacts-list > div {
  border-bottom: 1px solid var(--color-grey);
  padding: 12px;
}

.toggle-contact-menu {
  position: absolute;
  right: 10%;
  transform: translateY(5px);
  transition: scale 0.2s;
  display: none;
  transition: all 0.2s;

  &:hover {
    scale: 1.1;
  }
}

.delete-and-edit {
  &:hover {
    & span {
      transition: all 0.1s;
      color: var(--color-light-blue);
    }

    & img {
      transition: all 0.1s;
      scale: 1.05;
    }
  }
}

#add-contact-menu-dialog {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 1000;
  border: 0;
  background-color: rgba(42, 54, 71, 0.3);
  backdrop-filter: blur(3px);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: all 0.2s ease-in-out;
}

.contact-main{
  padding-bottom: 100px !important;
  overflow: hidden !important;
}

.contacts-list{
  height: fit-content;
}

.profile-picture {
  height: 80px;
  width: 80px;
  border-radius: 50%;
}

.profile-picture-litle {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.no-padding {
  padding: 0;
}

.profile-picture-list {
  height: 50px;
  width: 50px;
  border-radius: 24px;
}