.contact-separator {
  background-color: rgb(41, 171, 226);
  height: 60px;
  width: 3px;
  margin: 0 18px;
}

.container {
  margin: 0 !important;
  padding: 0 !important;
}

.list-of-contacts {
  width: 456px;
  height: 100vh;
  background-color: white;
  margin: 0;
  padding: 20px;
  overflow-y: scroll;
  overflow-x: hidden;
  z-index: 1;
  padding-bottom: 150px;
}

/* Scrollbar-Styling für Webkit-Browser */
#list-of-contacts::-webkit-scrollbar {
  width: 12px; /* Breite der Scrollbar */
}

#list-of-contacts::-webkit-scrollbar-thumb {
  background-color: #d1d1d1; /* Farbe der Scrollbalken */
  border-radius: 10px; /* Abgerundete Ecken */
}

#list-of-contacts::-webkit-scrollbar-thumb:hover {
  background-color: #2a3647; /* Etwas dunkler beim Hover */
}

#list-of-contacts::-webkit-scrollbar-track {
  background-color: rgb(246, 247, 248); /* Hintergrund der Schiene */
}

#list-of-contacts::-webkit-scrollbar-button {
  display: none; /* Entferne die Pfeile */
}

.center-contacts > a:hover {
  cursor: pointer;
}

.add-contact {
  color: white;
  font-size: 24px;
  font-weight: bold;
  padding: 16px;
  border-radius: 12px;
}

.add-contact:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 255, 0.5);
}

.more-button-div {
  justify-content: flex-end;
  color: white;
  
  &:hover {
    cursor: pointer;
  }
}

.big-content {
  z-index: 10;
  transition: all 0.2s ease-in-out;
  overflow-y:  scroll;
  margin-left: 24px;

  &::-webkit-scrollbar{
    display: none;
  }

  & [data-contact-name]{
    font-size: 34px;
  }
}

.title-of-contacts {
  align-items: center;
}

#prime_title {
  font-size: 61px;
  font-weight: 700;
}

#second_title {
  font-size: 27px;
  font-weight: 400;
}