.container_help{

    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.title {
    width: 138px;
    height: 73px;
    font-size: 61px;
    font-weight: 700;
}

.help_content {
    display: flex;
    flex-direction: column;
    width: 1014px;
    height: 1024px;
    gap: 24px;
}

.welcome_text {
    width: 1014px;
    height: 38px;
    font-size: 16px;
    font-weight: 400;
}

.help_description {
    display: flex;
    flex-direction: column;
    width: 1014px;
    height: 238px;
    gap: 16px;
}

.title_second {
    width: 346px;
    height: 32px;
    font-size: 27px;
    font-weight: 700;
}

.help_directions {
    display: flex;
    flex-direction: column;

}

.direction {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 35px;

}

.last_direction {
    flex-direction: column;
}

.number {
    width: 21px;
    height: 32px;
    font-size: 27px;
    font-weight: 700;
    align-self: self-start;
    padding-top: 32px;
}

.direction_name_and_description {
    display: flex;
    align-items: flex-start;
    flex-direction: column;

}

/* ** HELP PAGE QUERIES ** */

@media (max-width: 1300px) {
    .container_help {
      padding-left: 100px;
    }
  }