body {
  display: block !important;
}

.buttonDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 12px;
  margin-top: 24px;
  margin-bottom: 8px;
  
  button {
    padding: 12px 24px;
    border-radius: 10px;
    white-space: nowrap;
  }

  & > div {
    display: flex;
    align-items: center;
    column-gap: 24px;
  }
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 24px 0;
  width: 100%;
  border-radius: 18px;
  background-color: #ffffff;
}

.input {
  width: 100%;
  text-align: center;
}

.button {
  width: 120px;
  height: 40px;
}

.login-form-container {
  margin-top: -150px !important;
}

.formDiv {    
  display: flex;  
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin-top: -32px;
  max-width: 400px;
  width: 400px;
  img {
    width: 16px;
  }
}

.separator {
  height: 3px;
  width: 80px;
  background-color: #5fc0e9;
}

.notUser {
  padding-top: 24px;
  align-items: center;
  gap: 14px;
  margin-left: auto;
  margin-right: auto;
}

#checkboxContainer {
  margin-top: 24px;
}

.auth-loading-spinner {
  animation: spin 1s linear infinite;
  display: none;
  justify-content: center;
}

#auth-error-message {
  margin-top: 8px;
  color: var(--color-orange-dark);
  display: none;
  justify-content: center;
}

@keyframes spin {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

.auth-main{
  height: 100vh;
  flex-direction: column;
  align-items: center;
  padding: 0 12px;
}