body {
  display: flex;
  justify-content: center;
}

header {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  height: 170px;
  width: 100%;
  padding: 0 19px;
  position: relative;
  top: -47px;
    
  .logo-black {
    display: none;
  }
}

.buttonDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 12px;
  margin-bottom: 8px;
  
  button {
    padding: 12px 24px;
    border-radius: 10px;
    white-space: nowrap;
  }

  & > div {
    display: flex;
    align-items: center;
    column-gap: 24px;
  }
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 24px 0;
  width: 100%;
  border-radius: 18px;
  background-color: #ffffff;
}

.input {
  width: 100%;
  text-align: center;
}

.button {
  width: 120px;
  height: 40px;
}

.login-form-container {
  margin-top: -150px !important;
}

.formDiv {    
  display: flex;  
  justify-content: center;
  align-items: center;
  margin-top: -32px;
  max-width: 400px;
  width: 400px;

  img {
    width: 16px;
  }
}

.formDiv-signup {
  display: flex;  
  justify-content: center;
  align-items: center;
  margin-top: -32px;
  max-width: 400px;
  width: 400px;

  img {
    width: 16px;
  }
}

.separator {
  height: 3px;
  width: 80px;
  background-color: #5fc0e9;
}

.notUser {
  align-items: center;
  gap: 14px;
  margin-left: auto;
  margin-right: auto;
}

.auth-loading-spinner {
  animation: spin 1s linear infinite;
  display: none;
  justify-content: center;
}

#auth-error-message {
  color: transparent;
  font-size: 14px;
  font-weight: bold;
  justify-content: center;
}

#email-error-message, #password-error-message {
  color: transparent;
  margin-top: -18px;
  font-size: 14px;
  font-weight: bold;
}

.animation-wrapper {
  width: 250px;
  height: 250px;
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  animation: logo-move 2s ease-in-out forwards;
}

.logo {
  width: 250px;
  height: 250px;
  animation: logo-size 2s ease-in-out forwards;
}

.content {
  display: grid;
  grid-template-rows: 0.5fr 1fr 0.1fr;
  position: relative;
  height: 100vh;
  width: 100%;
  max-width: 1920px;
  align-items: center;
}

.auth-main {
  flex-direction: column;
  align-items: center;
  padding: 0 12px;
}

@keyframes logo-size {
    to {
      width: 125px;
      height: 125px;
      /* transform: scale(0.5) */
    }
}

@keyframes logo-move {
  to {
    width: 125px;
    height: 125px;
    top: 25px;
    left: 25px;
    translate: 0 0;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}