.headline {
    display: flex;
    flex-direction: row;
    width: 84%;
    justify-content: space-between;
    align-items: center;
    a {
        height: 100%;
        display: flex;
        align-items: center;
    }
}