.register-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.back-button {
  width: 20px;
  height: 20px;
  border-radius: 24px;
}

.back-button-link {
  transform: translate(30px, -20px);
}

.singup-main { 
  margin: 0 12px;
}

.header-section {
  position: absolute;
}

.header-container {
  position: relative;
  display: flex;
  justify-content: center;
  height: 150px;
  width: 100%;
  max-width: 1920px;
}

.error-validate {
  border: red 1px solid;
}

.red {
  color: red !important;
}

.transparent {
  color: transparent;
}

.back-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: 230px;
  left: 17px;
}

.signup-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
  width: 150px;
}

.limit-container {
  display: grid;
  grid-template-rows: 152px 1fr 0.05fr;
  height: 100vh;
  width: clamp(320px, 100%, 1920px);
}