@media (max-width: 1300px) {

}

@media (max-width: 1300px) {

}

/* ADD CONTACT OVERLAY MOBILE*/

@media (max-width: 900px) {

}

@media (max-width: 600px) {
  #prime_title {
    font-size: 40px;
  }
}
