/* ADD CONTACT OVERLAY */

@media (max-width: 1300px) {
  .add-contact-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    min-height: 38%;
    border-radius: 32px;
    color: white;
    background-color: var(--color-blue);
    overflow: hidden;
    padding-left: 32px;

    & > div {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .logo {
      width: 50px;
    }

    .form-ctn {
      background-color: var(--color-white);
      display: flex;
      justify-content: center;
      align-items: center;
      column-gap: 48px;
      width: 65%;
      height: 500px;

      flex-direction: column;

      .contact-overlay-buttons {
        display: flex;
        column-gap: 24px;
        align-items: center;

        button {
          display: flex;
          justify-content: center;
          align-items: center;
          column-gap: 12px;

          img {
            width: 15px;
          }
        }
      }

      input {
        width: 100%;

        & + img {
          width: 16px;
        }
      }
    }

    h2 {
      font-weight: 500;
    }
  }

  .add-contact-separator {
    width: 88px;
    background-color: var(--color-light-blue);
    height: 3px;
  }

  #inputsfields_div {
    margin-top: 20px;
  }
}

@media (max-width: 1300px) {
  .title-of-contacts {
    flex-direction: column;
    align-items: flex-start;
  }
}

/* ADD CONTACT OVERLAY MOBILE*/

@media (max-width: 900px) {
  .add-contact-overlay {
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 396px;
    height: 760px;

    padding-left: 0;

    & > div {
      display: flex;
      align-items: center;
      justify-content: space-between;

      flex-direction: column;
      position: relative;
    }

    .overlay_mobile_top_part {
      height: 352px;
      display: flex;
      align-items: center;
      padding: 12px 20px;
    }

    .logo {
      display: none;
    }

    .form-ctn {
      background-color: var(--color-white);
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: center;
      column-gap: 48px;
      width: 100%;
      height: 50vh;
      padding-top: 80px;

      input {
        width: 100%;

        & + img {
          width: 16px;
        }
      }
    }

    h1 {
      font-weight: 700;
      font-size: 47px;
    }

    h2 {
      font-weight: 400;
      font-size: 20px;
    }
  }

  .overlay_cancelbutton_mobile {
    color: #fff;
  }

  .add-contact-img-div {
    background-color: var(--color-grey);
    padding: 24px;
    border-radius: 50%;
    border: 1px solid var(--color-white);
    box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.05);

    position: absolute;
    top: 352px;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 120px;
    width: 120px;
    display: flex;
    align-items: center;
    justify-content: center;

    margin-bottom: 50px;

    img {
      height: 56px;
      width: 56px;
    }
  }

  .hide-contact-menu {
    display: none !important;
  }

  #inputfields_div {
    width: 364px;
    height: 153px;
  }

  #cancel_button {
    display: none;
  }

  .more-button {
    bottom: 10%;
  }
}
