@media (max-width: 600px) {
  .hidden {
    display: none !important;
  }

  .buttonDiv {
    flex-direction: column;
    align-items: center;
  }

  .formDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100% !important;
  }
}

@media (min-width: 600px) {
  .hiddenMin {
    display: none !important;
  }
}

/** SIDEBAR QUERIES ** */

@media (min-width: 1300px) {
  .big-content {
    display: flex !important;
    padding: 30px;
  }

  header {
    width: 1920px;
  }

  @keyframes logoTransition {
    0% {
      top: 50%;
      left: 50%;
      width: 274px;
      height: 334px;
      transform: translate(-50%, -50%);
    }
    100% {
      top: 24px;
      left: 128px;
      width: 100px;
      height: 122px;
      transform: none;
    }
  }
}

@media (max-width: 1300px) {
  .back-button-contacts {
    display: flex !important;
  }

  .title-of-contacs {
    flex-direction: column;
  }

  .contact-separator {
    display: none;
  }

  .responsive-separator {
    height: 3px;
    width: 87px;
    background-color: rgb(41, 171, 226);

  }

  .app-main {
    width: calc(100% - 200px);

    .header {
      padding: 0 3.2rem;

      h1 {
        font-size: 30px;
      }
    }
  }

  .sidebar {
    width: 200px;

    span {
      font-size: 15px;
    }

    a img:not(.logo) {
      width: 22px;
      height: 22px;
    }
  }
}

@media (max-width: 900px) {
  .body {
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
  }

  .add-contact-div {
    bottom: 15% !important;
    bottom: 15% !important;
  }

  .app-main {
    width: 100%;
    height: calc(100vh - 100px);
    padding-bottom: 100px;

    .header {
      justify-content: space-between;
      padding: 0 1.2rem;

      h1 {
        font-size: 24px;
      }
    }

    .container {
      margin-bottom: 0;
    }
  }

  .sidebar {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 90px;
    flex-direction: row;
    align-items: center;
    column-gap: 1.2rem;

    .logo {
      margin-left: 1.2rem;
      margin-right: 1rem;
      width: 60px;
      transform: translateY(8px);
    }

    .navigation {
      flex-direction: row;
      justify-content: space-between;
      margin-top: 0;
      padding: 0 1.2rem;

      & > div {
        width: 100px;
        height: fit-content;
        padding: 1.2rem 0;
        border-radius: 25px;

        a {
          align-items: center;
          flex-direction: column;

          span {
            width: fit-content;
          }
        }
      }
    }

    .privacy-container {
      display: none;
    }
  }
}

@media (min-width: 550px) {
  .profile {
    width: unset !important;
    width: unset !important;
  }
}

@media (max-width: 550px) {
  .sidebar {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 90px;
    flex-direction: row;
    align-items: center;
    column-gap: 1.2rem;

    & > a {
      display: none;
    }

    .navigation {
      padding: 0.4rem;

      & > div {
        padding: 0.8rem 0.4rem;

        a {
          font-size: 12px;

          span {
            font-size: 14px;
          }
        }
      }
    }
  }

  .add-contact {
    width: 60px;
    height: 60px;
    border-radius: 30px !important;
    color: transparent !important;
    width: 60px;
    height: 60px;
    border-radius: 30px !important;
    color: transparent !important;
  }

  .header {
    .logo-black {
      width: 50px;

      display: block;
    }

    h1 {
      display: none;
    }
  }
}

/** Task QUERIES ** */

@media (max-width: 1375px) AND (min-width: 900px) {
  .responsive-add-task-dialog {
    margin-top: 465px !important;
  }
}

@media (max-width: 1375px) {
  .more-button-div {
    position: fixed;
    bottom: 1%;
    right: 5%;
    position: fixed;
    bottom: 1%;
    right: 5%;
  }

  .container {
    width: 100%;
  }

  .app-main {
    align-items: center;
  }

  .separator-max {
    display: none !important;
  }

  .main-div {
    flex-direction: column;
    align-items: center;
    margin-top: 52px;
  }

  .media-w-300 {
    width: 90%;
  }

  .buttonTaskDiv {
    flex-direction: column;
    align-items: center;
  }

  #required-field-big {
    display: none !important;
  }

  .main-container {
    justify-content: center;
    align-items: center;
    width: 100%;
  }
}

@media (min-width: 1150px) {
  #required-field {
    display: none !important;
  }

  .more-button-div {
    display: none;
  }
}

@media (max-width: 1150px) {
  .big-content {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: #f6f7f8;
    margin: 0;
    padding: 44px;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    padding-bottom: 200px;

    [class='bold'] {
      font-size: 24px !important;
      max-width: 300px;
    }
  }
  .delete-and-edit {
    display: none !important;
  }

  .toggle-contact-menu {
    display: block;
  }

  .list-of-contacts {
    width: 100%;
    height: 100vh;
  }
}

@media (max-width: 600px) {
  .add-task-main {
    align-items: center;
    height: 100vh;
  }

  .hidden {
    display: none !important;
  }

  .buttonDiv {
    flex-direction: column;
    align-items: center;
  }

  .formDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
  }

  .prio-button {
    font-size: 12px;
    gap: 6px;

    img {
      width: 10px;
    }
  }

  #add-task span {
    margin-top: 12px;
  }

  #loginLogo {
    position: fixed;
    top: -40px;
    left: 18px;
  }
}

@media (min-width: 600px) {
  .hiddenMin {
    display: none !important;
  }
}

/* BOARD */

@media(max-width: 1530px){
  .board-content{
    flex-direction: column;
    overflow: hidden;

    & > div {
      width: 100%;

      ul{
        display: flex;
        width: 100%;
        min-width: 300px;
        min-height: 150px;
        column-gap: 24px;     
        overflow-x: scroll;

        li{
          width: 300px;
        }
      }
    }
  }

  .drag-icon-ctn{
   display: flex !important;
  }
}

@media (max-width: 1100px) {
  .board-head {
    width: 100%;
    margin: 0 auto;

    & > div {
      flex-direction: column-reverse;
    }

    h1 {
      font-size: 50px;
    }
  }

  .board-searchBar {
    margin-top: 2.4rem;
  }

  .board-content {
    justify-content: center;

    & > div {
      width: 100%;
    }
  }
}

@media (max-width: 900px) {
  .board-head {
    align-items: start;
    height: 150px;
    position: relative;

    h1 {
      font-size: 40px;
      transform: translateY(0);
      margin-right: 12px;
    }
  }

  .task-preview {
    margin-top: 0;
  }

  .board-searchBar {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
  }

  .board-add-task-button {
    font-size: 17px;
    padding: 10px;
  }

  .board-content {
    & > div {
      width: 100%;
    }
  }
  .add-task-modal {
    align-items: start;
    padding: 0;

    & > div {
      width: 100% !important;
      border-radius: 0 !important;
      margin: 0 !important;
    }

    .task-preview {
      height: 100vh;
    }
  }
}

@media (max-width: 500px) {
  .add-task-modal > [data-modal] { 
    padding: 0 !important;
  }

  .file-upload {
    width: 100%;
  }

  .clear-and-create-button {
    width: 150px;
  }

  .delete-all {
    width: 60px;
  }

  .image-container-div {
    width: 420px;
  }

  span {
    font-size: 13px;
  }
  
  .add-contact-div {
    padding: 0;
    right: 12%;
    padding: 0;
    right: 12%;
  }

  .contacts-div {
    padding: 22px 8px;
  }

  .primary-title {
    font-size: 45px;
  }

  .board-content{
    width: 100%;

    & div {
     
      & > span{
        width: 260px;
      }

     & > ul > li{
        width: 250px;
      }
    }
  
 }

@media (max-width: 440px) {
  .image-container-div {
    width: 330px;
  }
}

@media(max-width: 400px){
  .drag-task-popup{
    width: 300px;
    padding-bottom: 24px;

    & > div{
      margin-top: 32px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 12px;
    }
  } 

  .loader-image {
    width: 85px !important; 
    height: 85px !important;
  }

  .upload-file {
    width: 350px;
  }
}


  .board-container{
    padding: 0 24px !important;
  }
}

/* SIGN UP */
@media (max-width: 600px) {
  .join-icon {
    width: 60px;
    height: 60px;
  }
}
