.header-menu-button {
  height: 50px;
  width: 50px;
  border-radius: 24px;
}

.join-icon {
  width: 100px;
  height: 122px;
  margin: 24px 0;
  z-index: 2000;
}

.sign-in {
  align-items: center;
  gap: 18px;
}

.sign-up {
  height: 50px;
  border-radius: 8px;
  width: 100px;
  color: #fff;
  background-color: #2a3647;
}

.overlay-image {
  margin: -40px;
}

.button {
  width: 120px;
  height: 40px;
}

.sidebar {
  position: relative;
  background-color: #2a3647;
  width: 232px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 100;
  
  span {
    display: flex;
    align-items: center;
    column-gap: 1.2rem;
    width: 100px;
    white-space: nowrap;
    font-size: 20px;
    font-weight: bold;

    img {
      width: 25px;
    }
  }
}

img {
  width: 25px;
}

span {
  font-size: 15px;
}

.navigation {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 8rem;
  width: 100%;

  & > div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;
    margin-top: 0.8rem;
  }
}

.active {
  background-color: var(--color-black-light);
}

.no-active {
  background-color: unset;
}

.no-active:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.active-prio {
  color: #fff;
}

.logo {
  width: 80px;
}

a {
  font-size: 15px;
}

.privacy-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  row-gap: 1.2rem;
  left: 0;
  bottom: 7%;
  width: 100%;
  text-align: center;

  a {
    color: #cdcdcd;
    transition: all 0.2s;
    &.active {
      height: 37px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &:hover {
      color: #29abe2;
    }
  }
}

.center-contacts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 208px;
}

.first-letter {
  font-weight: bold;
  color: white;
  font-size: 22px;
  padding: -5px;
  border-radius: 50%;
  width: 62px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.first-big-letter {
  display: inline-block;
  height: 145px;
  width: 158px;
  border-radius: 50%;
  font-size: 58px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid #fff;
}

.first-letter-hover:hover {
  cursor: pointer;
}

.email {
  color: var(--color-light-blue);
}

.email:hover {
  cursor: pointer;
}

.more-button {
  background-color: var(--color-blue);
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  border-radius: 32px;
  position: absolute;
  right: 0;
  bottom: 3%;

  img {
    width: 8px !important;
  }
}

#toggleMenu {
  row-gap: 24px;
  padding: 12px;
  border-radius: 6px;
  position: absolute;
  right: 0;
  transform: translate(5px, -85px);
}

.delete-and-edit:hover {
  cursor: pointer;
}

.w-80px {
  width: 80px;
}

.m-bottom-20 {
  margin-bottom: 20px;
}

.col-gap-24 {
  column-gap: 24px;
}

.add-contact-img-div {
  padding: 24px;
  border-radius: 50%;
  box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.05);
}

.hide-contact-menu:hover {
  cursor: pointer;
}

.add-subTask-icon {
  cursor: pointer;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateX(-35px);
  transition: all 0.2s;

  &:hover {
    background-color: rgba(205, 205, 205, 0.3);
  }
}

.subtask-list {
  font-size: 15px;
  margin-left: 24px;

  li > div {
    margin-top: 8px;
    width: 100%;
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    transition: all 0.2s;

    &:hover {
      background-color: rgba(205, 205, 205, 0.3);
    }

    input {
      width: 100%;
      outline: none;
      background-color: transparent;
      pointer-events: none;
      border: none;
      padding: 2px 0;
    }

    &:hover [data-edit-icon] {
      display: flex;
    }

    .edit-icon-ctn,
    .edit-mode-ctn {
      position: absolute;
      right: 5%;
      display: none;
      align-items: center;
      justify-content: space-between;
      column-gap: 6px;

      .line {
        width: 1px;
        height: 15px;
        background-color: #2a3647;
      }

      img {
        width: 17px;
        transition: all 0.2s;

        &:hover {
          transform: translateY(2px);
        }
      }
    }

    .edit-mode-ctn {
      display: none;

      .close-icon {
        width: 10px;
      }
    }
  }
}

.input-mode {
  border-bottom: 1px solid #29abe2 !important;
  pointer-events: auto !important;
}

.userlist-ctn {
  height: fit-content;
  max-height: 200px;
  flex-direction: column;
  cursor: pointer;
  height: 34px;
  justify-content: center;

  span {
    font-size: 18px;
    font-weight: 500;
  }

  &::-webkit-scrollbar {
    display: none;
  }
}

#userlist {
  width: 100%;
  height: 100%;
  margin-top: 8px;
  user-select: none;
  z-index: 1;

  &::-webkit-scrollbar {
    display: none;
  }

  label {
    cursor: pointer;
    padding: 8px 16px;
    transition: all 0.2s;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FFFFFF;

    &:hover {
      background-color: rgb(209, 209, 209, 1);    
    }

    &:last-child {
      border-bottom-right-radius: 12px;
      border-bottom-left-radius: 12px;
    }

    > div {
      display: flex;
      align-items: center;
      column-gap: 12px;

      & span:first-child {
        font-size: 16px;
        border: 2px solid #fff;
        width: 42px;
        height: 42px;
        border-radius: 50%;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0px -3px;
      }
    }
  }
}

.invalid-input {
  border: 1px solid var(--color-orange-dark) !important;
}

.select-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 4px;
  width: 96.5%;

  img {
    width: 8px !important;
    height: 8px !important;
  }
}

.sidebar-link {
  color: #fff;
}

.files {
  display: flex;
  justify-content: flex-start !important;
  margin-top: 12px;
  img {
    height: 80px;
    width: 80px;
  }
}

.container {
  padding: 0 26px;
}

#add-task > .responsive-add-task-dialog {
  margin-top: 0px !important;
}

.file-name {
  background-color: rgba(0, 0, 0, 0.01);
  padding: 2px 8px;
  font-size: 14px !important;  
}

.files {
  padding: 18px 0;
}

.subtasks {
  padding-top: 10px;
}

.hidden-error-message {
  opacity: 0;
}

.error {
  color: red;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}

.file-upload-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#image-container {
  >img {
    height: 4rem;
    width: 4rem;
  }
}

.auth-header-container {
  display: flex;
  justify-content: center;
  max-width: 1920px;
  position: relative;
}


.subtasks-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 107%;
  margin-top: -22px;
}

.delete-icon, .delete-all {
  cursor: pointer;
}

.upload-file:focus { 
  outline: 2px solid #000000;   
}

.assigned-user-img {
  width: 30px;
}

.input-width {
  width: 69vw;
}

.headline-span {
  font-size: 20px !important;
}

.input-font-size { 
  font-size: 18px !important;
}

.hidden {
  opacity: 0;
  height: 0px !important;
  width: 0px !important;
}

.contact-initials {
  margin-bottom: 27px;
  font-size: 48px;
}

.no-profile-picture {
  background-color: var(--color-violet-light) !important;
}

.edit-mode-margin {
  margin-top: 3vh;
}

.content-limited {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1920px;
}

.picture-section {
  display: flex;
  align-items: flex-end;
}

.camera-container {
  background-color: grey;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  background-image: url(../assets/img/camera.svg);
  width: 32px;
  height: 32px;
  background-size: cover;
  background-position: center;
  padding: 36px;
  margin: 0 -58px;
  z-index: 1;
  
  img {
    width: 38px;
  }
}

.p-24 {
  padding: 24px;
}

.login-signup-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
}

.assigned-to-picture {
  width: 42px;
  height: 48px;
  border-radius: 50%;
}

.overflow {
  overflow-y: scroll;
  width: 675px;
}

.prio-img {
  width: 26px !important;
  height: 26px !important;          
}

.profile-picture-list {
  width: 38px;
  border-radius: 50%;
  aspect-ratio: 1 / 1; 
}

.width-unset {
  width: unset;
}

.p-2 {
  padding: 0 2rem;
}

.delete-button {
  min-width: 195px;
}

.picture-from-user-edit {
  height: 180px;
  width: 190px;
  border-radius: 50%;
  margin: -26px;
}

.default-picture {
  height: 260px;
  width: 125px;
}

.responsive-register-container {
  align-items: baseline;
}

#add-contact-menu-dialog {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 1000;
  border: 0;
  background-color: rgba(42, 54, 71, 0.3);
  backdrop-filter: blur(3px);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: all 0.2s ease-in-out;
}


.add-contact-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1200px;
  max-width: 1200px;
  min-height: 500px;
  border-radius: 32px;
  color: white;
  background: linear-gradient(to right, #2a3647 50%, #ffffff 50%);
  overflow: hidden;
  padding-left: 32px;
  z-index: 150;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

  & > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .logo {
    width: 50px;
  }

  .form-ctn {
    background-color: var(--color-white);
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 48px;
    width: 65%;
    height: 500px;

    .contact-overlay-buttons {
      display: flex;
      column-gap: 24px;
      align-items: center;

      button {
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 12px;

        img {
          width: 15px;
        }
      }
    }

    input {
      width: 100%;

      & + img {
        width: 16px;
      }
    }
  }

  h2 {
    font-weight: 500;
  }
}

.add-contact-separator {
  width: 88px;
  background-color: var(--color-light-blue);
  height: 3px;
}

.add-contact-img-div {
  background-color: var(--color-grey);
  padding: 24px;
  border-radius: 50%;
  border: 1px solid var(--color-white);
  box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.05);
  justify-content: flex-end;
  height: 180px;
  width: 180px;
}

.hide-contact-menu:hover {
  cursor: pointer;
}

.overlay_cancel, .button_mobile {
  cursor: pointer;
  position: absolute;
  height: 40px;
  width: 40px;
  top: 30px;
  right: 30px;
  font-size: 24px;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;

  &:hover {
    background-color: rgba(0, 0, 0, 0.05);
  }

  img {
    width: 16px;
  }
}

#more-information {
  max-width: 500px;

  .contact-email-info{
    margin-top: 40px;
  }

  .big-letter-ctn{
    padding: 85px 25px;
  }
}

.contacts-div {
  width: 352px;
  height: 78px;
  padding: 15px 24px 15px 24px;
  gap: 8px;
  border-radius: 10px;
  opacity: 0px;
  margin-top: 12px;
  user-select: none;

  &:hover {
    background-color: rgb(209, 209, 209, 0.3);
  }
}

.contacts-list > div {
  border-bottom: 1px solid var(--color-grey);
  padding: 12px;
}

.toggle-contact-menu {
  position: absolute;
  right: 10%;
  transform: translateY(5px);
  transition: scale 0.2s;
  display: none;
  transition: all 0.2s;

  &:hover {
    scale: 1.1;
  }
}

.delete-and-edit {
  &:hover {
    & span {
      transition: all 0.1s;
      color: var(--color-light-blue);
    }

    & img {
      transition: all 0.1s;
      scale: 1.05;
    }
  }
}

.contact-main {
  padding-bottom: 100px !important;
  overflow: hidden !important;
}

.contacts-list{
  height: fit-content;
}

.profile-picture {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  background-color: gray;
}

.profile-picture-litle {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.no-padding {
  padding: 0;
}

.profile-picture-list {
  height: 55px;
  width: 62px;
  border: 0;
  border-radius: 50%;
  background-color: transparent !important;
}

.transparent {
  border: 0;
  background-color: transparent !important;
}

.profile-picture-span {
  height: 120px;
  width: 130px;
  border-radius: 50%;
  margin-top: 36px;
  margin-bottom: -24px;
}

.person-icon {
  height: 174px;
  width: 178px;
  border-radius: 50%;
  margin: -60px;
}

.person-icon-without-picture { 
  height: 128px;
  width: 122px;
  border-radius: 0%;
  margin: -32px;
}

.input-field_contacts {
  padding: 12px 55px;
  border-radius: 12px;
}