.header-menu-button {
  height: 50px;
  width: 50px;
  border-radius: 24px;
}

.join-icon {
  width: 100px;
  height: 122px;
  margin: 24px 0;
  z-index: 2000;
}

.sign-in {
  align-items: center;
  gap: 18px;
}

.sign-up {
  height: 50px;
  border-radius: 8px;
  width: 100px;
  color: #fff;
  background-color: #2a3647;
}

.overlay-image {
  margin: -40px;
}

.button {
  width: 120px;
  height: 40px;
}


/* SIDEBAR STYLE FOR ALL PAGES */

.sidebar {
  position: relative;
  padding: 38px 0;
  background-color: #2a3647;
  width: 232px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 100;

  span {
    display: flex;
    align-items: center;
    column-gap: 1.2rem;
    width: 100px;
    white-space: nowrap;
    font-size: 20px;
    font-weight: bold;

    img {
      width: 25px;
    }
  }
}

img {
  width: 25px;
}

span {
  font-size: 15px;
}

.navigation {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 8rem;
  width: 100%;

  & > div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;
    margin-top: 0.8rem;
  }
}

.active {
  background-color: var(--color-black-light);
}

.no-active {
  background-color: unset;
}

.no-active:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.active-prio {
  color: #fff;
}

.logo {
  width: 80px;
}

a {
  font-size: 15px;
}

.privacy-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  row-gap: 1.2rem;
  left: 0;
  bottom: 7%;
  width: 100%;
  text-align: center;

  a {
    color: #cdcdcd;
    transition: all 0.2s;
    &.active {
      height: 37px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &:hover {
      color: #29abe2;
    }
  }
}

.center-contacts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 208px;
}

.first-letter {
  font-weight: bold;
  color: white;
  font-size: 22px;
  padding: -5px;
  border-radius: 50%;
  width: 62px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.first-big-letter {
  display: inline-block;
  height: 145px;
  width: 158px;
  border-radius: 50%;
  font-size: 58px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid #fff;
}

.first-letter-hover:hover {
  cursor: pointer;
}

.email {
  color: var(--color-light-blue);
}

.email:hover {
  cursor: pointer;
}

.more-button {
  background-color: var(--color-blue);
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  border-radius: 32px;
  position: absolute;
  right: 0;
  bottom: 3%;

  img {
    width: 8px !important;
  }
}

#toggleMenu {
  row-gap: 24px;
  padding: 12px;
  border-radius: 6px;
  position: absolute;
  right: 0;
  transform: translate(5px, -85px);
}

.delete-and-edit:hover {
  cursor: pointer;
}

.w-80px {
  width: 80px;
}

.m-bottom-20 {
  margin-bottom: 20px;
}

.col-gap-24 {
  column-gap: 24px;
}

.add-contact-img-div {
  padding: 24px;
  border-radius: 50%;
  box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.05);
}

.hide-contact-menu:hover {
  cursor: pointer;
}

.add-subTask-icon {
  cursor: pointer;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateX(-35px);
  transition: all 0.2s;

  &:hover {
    background-color: rgba(205, 205, 205, 0.3);
  }
}

.subtask-list {
  font-size: 15px;
  margin-left: 24px;

  li > div {
    margin-top: 8px;
    width: 100%;
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    transition: all 0.2s;

    &:hover {
      background-color: rgba(205, 205, 205, 0.3);
    }

    input {
      width: 100%;
      outline: none;
      background-color: transparent;
      pointer-events: none;
      border: none;
      padding: 2px 0;
    }

    &:hover [data-edit-icon] {
      display: flex;
    }

    .edit-icon-ctn,
    .edit-mode-ctn {
      position: absolute;
      right: 5%;
      display: none;
      align-items: center;
      justify-content: space-between;
      column-gap: 6px;

      .line {
        width: 1px;
        height: 15px;
        background-color: #2a3647;
      }

      img {
        width: 17px;
        transition: all 0.2s;

        &:hover {
          transform: translateY(2px);
        }
      }
    }

    .edit-mode-ctn {
      display: none;

      .close-icon {
        width: 10px;
      }
    }
  }
}

.input-mode {
  border-bottom: 1px solid #29abe2 !important;
  pointer-events: auto !important;
}

.userlist-ctn {
  height: fit-content;
  max-height: 200px;
  flex-direction: column;
  cursor: pointer;
  height: 34px;
  justify-content: center;

  span {
    font-size: 18px;
    font-weight: 500;
  }

  &::-webkit-scrollbar {
    display: none;
  }
}

#userlist {
  width: 100%;
  height: 100%;
  margin-top: 8px;
  user-select: none;
  z-index: 1;

  &::-webkit-scrollbar {
    display: none;
  }

  label {
    cursor: pointer;
    padding: 8px 16px;
    transition: all 0.2s;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FFFFFF;

    &:hover {
      background-color: rgb(209, 209, 209, 1);    
    }

    &:last-child {
      border-bottom-right-radius: 12px;
      border-bottom-left-radius: 12px;
    }

    > div {
      display: flex;
      align-items: center;
      column-gap: 12px;

      & span:first-child {
        font-size: 16px;
        border: 2px solid #fff;
        width: 42px;
        height: 42px;
        border-radius: 50%;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0px -3px;
      }
    }
  }
}

.invalid-input {
  border: 1px solid var(--color-orange-dark) !important;
}

.select-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 4px;
  width: 96.5%;

  img {
    width: 8px !important;
    height: 8px !important;
  }
}

.sidebar-link {
  color: #fff;
}

.files {
  display: flex;
  justify-content: flex-start !important;
  margin-top: 12px;
  img {
    height: 80px;
    width: 80px;
  }
}

.container {
  padding: 0 26px;
}

#add-task > .responsive-add-task-dialog {
  margin-top: 0px !important;
}

.file-name {
  background-color: rgba(0, 0, 0, 0.01);
  padding: 2px 8px;
  font-size: 14px !important;  
}

.files {
  padding: 18px 0;
}

.subtasks {
  padding-top: 10px;
}

.hidden-error-message {
  opacity: 0;
}

.error {
  color: red;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}

.file-upload-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#image-container {
  >img {
    height: 4rem;
    width: 4rem;
  }
}

.auth-header-container {
  display: flex;
  justify-content: center;
  max-width: 1920px;
  position: relative;
}


.subtasks-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 107%;
  margin-top: -22px;
}

.delete-icon, .delete-all {
  cursor: pointer;
}

.upload-file:focus { 
  outline: 2px solid #000000;   
}

.assigned-user-img {
  width: 30px;
}

.input-width {
  width: 69vw;
}

.headline-span {
  font-size: 20px !important;
}

.input-font-size { 
  font-size: 18px !important;
}

.hidden {
  opacity: 0;
  height: 0px !important;
  width: 0px !important;
}

.contact-initials {
  margin-bottom: 27px;
  font-size: 48px;
}

.no-profile-picture {
  background-color: var(--color-violet-light) !important;
}

.edit-mode-margin {
  margin-top: 3vh;
}

.content-limited {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1920px;
}

.picture-section {
  display: flex;
  align-items: flex-end;
}

.camera-container {
  background-color: grey;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  background-image: url(../assets/img/camera.svg);
  width: 32px;
  height: 32px;
  background-size: cover;
  background-position: center;
  padding: 36px;
  margin: 0 -58px;
  z-index: 1;
  
  img {
    width: 38px;
  }
}

.p-24 {
  padding: 24px;
}

.login-signup-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
}

.assigned-to-picture {
  width: 42px;
  height: 48px;
  border-radius: 50%;
}

.overflow {
  overflow-y: scroll;
  width: 675px;
}

.prio-img {
  width: 26px !important;
  height: 26px !important;          
}

.profile-picture-list {
  width: 38px;
  border-radius: 50%;
  aspect-ratio: 1 / 1; 
}